# Ignorer les fichiers et dossiers liés à Git
.git
.gitignore

# Ignorer les fichiers de configuration spécifiques à l'IDE
.idea/
.vscode/

# Ignorer les environnements virtuels Python
*.env
.*.env
venv/
voitautoenv/

# Ignorer les caches Python
__pycache__/
*.pyc

# Fichiers de documentation et de test non nécessaires dans l'image finale
README.md
Note_technique.md
run_performance_test.py
test_images/
tests/
outputs/
.github/